# Dossier de sauvegarde
server/backUp/

# Fichier de base de données
server/db.json
server/DEPLOYMENT.md
server/README-SEQUELIZE.md
server/README-SESSION.md
server/ZEABUR.md

# Variables d'environnement
.env
.env.local
.env.*.local
client/.env
server/.env

